node_modules
.env
coverage
coverage.json
typechain
typechain-types
package-lock.json
.openzeppelin
# Hardhat files
cache
artifacts
deployments
near-contract/multisend/Cargo.lock
near-contract/mock-token/Cargo.lock
near-contract/Cargo.lock
.idea
near-contract/multisend/target
near-contract/mock-token/target
near-contract/target